<p>
  <b>Description:</b>
  <%=h @device_template.Description %>
</p>

<p>
  <b>Comments:</b>
  <%=h @device_template.Comments %>
</p>

<p>
  <b>Define:</b>
  <%=h @device_template.Define %>
</p>

<p>
  <b>Implementsdce:</b>
  <%=h @device_template.ImplementsDCE %>
</p>

<p>
  <b>Isembedded:</b>
  <%=h @device_template.IsEmbedded %>
</p>

<p>
  <b>Commandline:</b>
  <%=h @device_template.CommandLine %>
</p>

<p>
  <b>Isplugandplay:</b>
  <%=h @device_template.IsPlugAndPlay %>
</p>

<p>
  <b>Isipbased:</b>
  <%=h @device_template.IsIPBased %>
</p>

<p>
  <b>Isplugin:</b>
  <%=h @device_template.IsPlugIn %>
</p>

<p>
  <b>Irfrequency:</b>
  <%=h @device_template.IRFrequency %>
</p>

<p>
  <b>Destinationdir:</b>
  <%=h @device_template.DestinationDir %>
</p>

<p>
  <b>Inheritsmacfrompc:</b>
  <%=h @device_template.InheritsMacFromPC %>
</p>

<p>
  <b>Configurescript:</b>
  <%=h @device_template.ConfigureScript %>
</p>

<p>
  <b>Manufacturerurl:</b>
  <%=h @device_template.ManufacturerURL %>
</p>

<p>
  <b>Internalurlsuffix:</b>
  <%=h @device_template.InternalURLSuffix %>
</p>

<p>
  <b>Wizardurl:</b>
  <%=h @device_template.WizardURL %>
</p>

<p>
  <b>Helpurl:</b>
  <%=h @device_template.HelpURL %>
</p>


<%= link_to 'Edit', edit_device_template_path(@device_template) %> |
<%= link_to 'Back', device_templates_path %>
