<h1>Listing devices</h1>

<table>
  <tr>
    <th>Disabled</th>
    <th>Room</th>
    <th>Installation</th>	
    <th>Description</th>
    <th>DeviceTemplate</td>
    <th>State</th>
    <th>Status</th>
    <th>Registered</th>
  </tr>

<% for device in @devices %>
  <tr>
    <td><%=h device.Disabled %></td>
    <td><%= link_to device.room.id, device.room unless device.room.nil? %></td>
    <td><%= link_to device.installation.id, device.installation unless device.room.nil? %></td>
    <td><%=h device.Description %></td>
    <td><%= link_to device.device_template.id, device.device_template unless device.device_template.nil? %></td>  
    <td><%=h device.State %></td>
    <td><%=h device.Status %></td>
    <td><%=h device.Registered %></td>
    <td><%= link_to 'Show', device %></td>
    <td><%= link_to 'Edit', edit_device_path(device) %></td>
    <td><%= link_to 'Destroy', device, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New device', new_device_path %>
